@use '@/styles/vars.scss' as *;

body {
  --offset: 0px;
  --right-nav-width: 48px;
  --left-nav-width: 48px;
  @include screen-sm {
    --offset: 0.25rem;
  }
  &:has([data-action-toggle='open']) {
    --right-nav-width: 96px;
  }
  #stepNav {
    transition: all 0.15s ease-in-out;
    position: fixed;
    top: 0px;
    width: auto;
    height: $nav-width;
    z-index: $z-modal;
    left: calc($nav-width + var(--offset) + 4px);
    > span {
      height: 100%;
    }
    max-width: calc(100dvw - var(--right-nav-width) - var(--left-nav-width));
    > * {
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 0;
      text-wrap: nowrap;
      display: block;
      > * {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.25rem;
      }
      > *:last-child {
        display: contents;
      }
    }
  }
  &:has([data-toggle='open']) {
    #stepNav {
      left: calc(var(--nav-open-width) + var(--offset));
      width: calc(100dvw - (var(--nav-open-width) + var(--offset)));
    }
  }
}
