.app-header {
  position: fixed;
  width: calc(100vw - var(--actual-nav-width));
  &:is(body:has(.sidebar-sm nav[data-toggle='open']) *) {
    width: calc(100vw - var(--nav-open-width));
  }
  height: var(--app-header-height);
  z-index: var(--z-modal);
  line-height: 1.25;
  margin-bottom: 2rem;
  top: 0;

  &__bg,
  &__mobile-nav-toggler,
  &--nav-open &__localizer,
  &__step-header,
  &__account,
  &__step-nav-wrapper > .step-nav {
    display: none;
  }
  &__content {
    flex-grow: 1;
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0;
    position: relative;
    z-index: 60;
  }
}

.template-default {
  &__nav-toggler {
    display: none;
  }
}
